<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.Actouch.SalesINV.TestScript.SaleOrderLocation">
      <methods>
      <include name="salesIN_Login_TC_1()"/>
      <include name="SalesIN_AltUOM_TC_59()"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
